
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
}
body * {
  transition: all 0.400s ease-in-out;
}
.mat-toolbar.mat-accent {
  background-color: transparent;
}
.sticky {
  position: fixed !important;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
}

.mat-toolbar{
  background: #1976d2;
}
.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 200px;
}

.sidenav {
  background: inherit;
}

.mat-toolbar.mat-primary {
  -webkit-transition: 700ms ;
  -ms-transition:  700ms ;
  transition: 700ms ;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.logo-brand {
  width: 30px;
  height: 30px;
  margin-left:5px;
  margin-right:5px;
}

.margin-lr-5 {
  margin-left: 5px;
  margin-right: 5 px;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.img-menu-icon {
  vertical-align: unset !important;
}
a:hover{
text-decoration: none;
font-weight: bold;
}

#whatIs{
  padding: 35vh 0;
}

p {
  line-height: 1.75;
}
.masthead {
  display: flex;
  height: 100vh;
  text-align: center;
  color: white;
  background: url('../../../assets/img/OKONOMI1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.middle-section {
  display: flex;
  height: 100vh;
  text-align: center;
  color: white;
  background: url('../../../assets/img/OKONOMI2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

    .page-section {
      min-height: 100vh;
      max-width: 100vw;
    }


#contact {
  justify-content: center;
  padding-top: 100px;
  width: 100%;
  background-image: url('../../../assets/img/OKONOMI3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
}

img {
  width:50px;
  height: 50px;
}
textarea{
      height: 200px;
    }

  ::-webkit-input-placeholder {
    font-weight: 700;
  }
  :-moz-placeholder {
    font-weight: 700;
  }
  ::-moz-placeholder {
    font-weight: 700;
  }
  :-ms-input-placeholder {
    font-weight: 700;
  }
  .full-width {
    width: 100%;
  }
#p-spinner {
  font-size: 20px;
  color: "#1976d2"
}