<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar color="primary">
      <span class="example-fill-remaining-space"></span>
      <img class="logo-brand" src="../../assets/img/logo_brand_2.jpg"/>
      <span class="example-fill-remaining-space"></span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Dashboard</a>
      <a mat-list-item href="#">Sobre Nosotros</a>
      <a mat-list-item href="#">Planes</a>
      <a mat-list-item href="#">Log in</a>
      <a mat-list-item href="#">Registrarse</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <i class="material-icons" aria-label="Side nav toggle icon">menu</i>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
      </button>
      <span *ngIf="(isHandset$ | async) === true" class="example-fill-remaining-space"></span>
      <img class="logo-brand" src="../../assets/img/logo_brand_2.jpg"/>
      <span>Okonomi Web Services</span>
      <span *ngIf="(isHandset$ | async) === true" class="example-fill-remaining-space"></span>
      <div *ngIf="(isHandset$ | async) === false">
      <a class="margin-lr-5" mat-button>Dashboard</a>
      <a class="margin-lr-5" mat-button>Sobre Nosotros</a>
      <a class="margin-lr-5" mat-button>Planes</a>
      </div>
      <span class="example-fill-remaining-space"></span>
      <div *ngIf="(isHandset$ | async) === false">
      <a class="margin-lr-5" mat-button>Log in</a>
      <a class="margin-lr-5" mat-raised-button>Registarse</a>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
