<section class="jumbotron jumbotron-fluid text-center no-margin-bottom" id="banner-container-fluid">
  <div class="container blur-none">
    <h1 class="jumbotron-heading">Administra tu negocio!</h1>
    <p>Seguro, Facil e Inteligente.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Empieza ahora</a>
    </p>
  </div>
</section>

<div class="container-fluid">
  <div class="row align-items-center bg-blue-c-white">
      <div class="container text-justify padding-top10">
        <h2>Que es Okonomi?</h2>
        <p class="lead">
          Okonomi Web Services es un sistema web diseñado para brindar un servicio de administracion de negocio
          totalmente completo, tomando en cuenta que una de sus principales ventajas es que no se necesita descargar
          abosulamente nada. Al usar Okonomi podras manejar tu negocio facil, seguro e inteligente.
        </p>
      </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="embed-responsive embed-responsive-16by9 px-4 py-4">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QILiHiTD3uc" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="row bg-blue-c-white">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-5 primary">Sobre Nosotros</h1>
    </div>
  </div>
  <div class="row justify-content-center bg-blue">
    <div class="container-fluid">
      <div class="card-deck mb-3 text-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h2 class="my-0">Mision</h2>
            </div>
            <div class="card-body text-left">
              <ul class="mt-3 mb-4">
                <li>Brindar el mejor servicio posible.</li>
                <li>Innovar cada dia el beneficio del usuario.</li>
                <li>Darle al usuario todo lo que necesita para manejar su negocio
                  efectivamente e inteligentemente.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h2 class="my-0">Vision</h2>
            </div>
            <div class="card-body text-left">
              <ul class="list-unstyled mt-3 mb-4">
                <li>Poder ser la aplicacion numero uno en manejo de negocios
                  en el mundo y que cada negocio de cualquier tipo pueda utilizarla.
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h2 class="my-0">Valores</h2>
            </div>
            <div class="card-body text-left">
              <ul class="list mt-3 mb-4">
                <li>Segurirdad</li>
                <li>Verdad</li>
                <li>Trabajo en equipo</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-5 primary">Nuestros Planes</h1>
      <p class="lead">Elige el mejor plan que se adapte a tu necesidad.</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="container-fluid">
      <div class="card-deck mb-3 text-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-4 box-shadow border-blue">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Standar</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$25 <small class="text-muted">/ m</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>--</li>
                <li>--</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-primary">Adquirir</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-4 box-shadow border-blue">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Pro</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$34.99 <small class="text-muted">/ m</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>--</li>
                <li>--</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-primary">Adquirir</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="card mb-4 box-shadow border-blue">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Plus</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$59.99 <small class="text-muted">/ m</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>-</li>
                <li>-</li>

              </ul>
              <button type="button" class="btn btn-lg btn-block btn-primary">Adquirir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-blue-c-white">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-5 primary">Por que nosotros?</h1>
    </div>
  </div>
  <div class="row justify-content-center bg-blue-c-white">
    <div class="container mb-3 text-center">
      <h4 class="font-weight-light">Nuestros beneficios</h4>
      <ul class="list-unstyled mt-3 mb-4 justify-content-center row">
        <li class="col-md-6">Manejo de finanzas</li>
        <li class="col-md-6">Manejo de contabilidad</li>
        <li class="col-md-6">Manejo de impuestos DGII</li>
        <li class="col-md-6">Inventario</li>
        <li class="col-md-6">Manejo de proyecto</li>
        <li class="col-md-6">Generador de facturas</li>
        <li class="col-md-6">Comunicacion en el equipo</li>
        <li class="col-md-6">Facil de utilizar</li>
        <li class="col-md-6">Seguro</li>
        <li class="col-md-6">Aplicacion que se adapta a tus necesidades</li>
      </ul>
      <h4 class="font-weight-light">Y mucho mas...</h4>
    </div>
  </div>
  <div class="row justify-content-center bg-blue-c-white">
    <div class="container mb-3 text-center">
      <h4 class="font-weight-light">Contactanos!</h4>


    </div>
    </div>


</div>
